[submodule "fw/PX4-Autopilot"]
	path = fw/PX4-Autopilot
	url = git@github.com:ThunderFly-aerospace/PX4-Autopilot.git
[submodule "fw/SiK"]
	path = fw/SiK
	url = git@github.com:ThunderFly-aerospace/SiK.git
[submodule "fw/AIRDOS03"]
	path = fw/AIRDOS03
	url = git@github.com:UniversalScientificTechnologies/AIRDOS03.git
[submodule "sw/GAPP"]
	path = sw/GAPP
	url = git@github.com:ODZ-UJF-AV-CR/GAPP.git
[submodule "sw/GAPP-cli"]
	path = sw/GAPP-cli
	url = git@github.com:ODZ-UJF-AV-CR/GAPP-cli.git
